body {
	background-color: orange;
	font-family: "Arial";
}

p, span, li, input {
	font-size: 1.5em;
}

div {
	padding: 20px;
}

.application {
	width: 550px;
	margin: 0 auto;
}

.button {
	border-radius: 4px;
	color: white;
	text-align: center;
	background-color: green;
	margin-top: 10px;
	margin-bottom: 10px;
}

.buttondeb {
	border-radius: 4px;
	color: white;
	text-align: center;
	background-color: red;
	margin-top: 10px;
	margin-bottom: 10px;
}


.respuesta {
  background-color: red;
}

.hideDeb {
	display: none;
}

.txtdeb {
	color: red;
}

#intervalGuess {
	background-color: grey;
	color: black;
	border-style: solid;
}

#sawtooth {
	background-color: #336e91;
}

#sine {
	background-color: #78ed47;
}

#triangle {
	background-color: #3b3040;
}

#square {
	background-color: #b85635;
}

#oscillator-list li {
	list-style-type: none;
	color: white;
	text-indent: 10px;
	margin-bottom: 2px;
}

#oscillator-list {
	padding-left: 0px;
}

.osc-controls {
	border-style: solid;
	border-color: #bc6527;
	border-width: 2px;
	border-radius: 10px;
	margin-bottom: 20px;
}

.debug {
	border-style: solid;
	border-color: red;
	border-width: 2px;
	border-radius: 10px;
	margin-bottom: 20px;
}

#value {
	padding-left: 20px;
	color: white;
	font-size: 1.25em;
}

.selected-waveform {
	outline: 2px solid white;
}